  <div class="grid_7">
    <h2>Carga Horária</h2>
    <p>O curso poderá ser ministrado das seguintes formas:</p>
    <ul class='contentList arrow'>
      <li>Semanalmente, 2 vezes por semana, às 2ª e 4ª ou 3ª e 5ª feiras, das 18h às 22h;</li>
      <li>Semanalmente, aos sábados, das 8h às 17h.</li>
    </ul>
  </div>
  <div class="grid_7 prefix_1">
    <h2>Avaliação e Certificado</h2>
    <p>O certificado será emitido pela ProSafety para todos os alunos que tiverem freqüência mínima de 75% e nota igual ou superior a 7 (sete) em cada módulo.</p>
  </div>
  <div class="grid_16"></div>

