  <div id="footer">

          <!-- Display newsletter -->
          <div id="footer_top" >

                  <div class="container_16 newsletter">
                          <div class="newsletterIcon">Newsletter Icon</div><h3>Newsletter</h3><p class="active">Stay up-to-date with the latest Corvius news and other stuffs, Sign Up today!</p><p class="inactive hidden">Thank you for subscribing to our newsletter! You will now receive monthly emails from us.</p><div id="newsletterForm" class="form clearfix">
                                                  <form action="#">
                                                          <input id="newsletter_email" type="text" value="Your email here..." data-value="Your email here...">
                                                  </form>
                                                  <a class="button small grey subtle" href="#">Sign Up!</a>
                                          </div>		</div>

          </div>

          <!-- Display footer siderbars -->
          <div id="footer_middle" >

                  <div class="container_16">

                          <div id="posts-widget-2" class="grid_5 posts"><h2 class="widget-title">From the Blog</h2><ul class="blogList">				
                                  <li>
                                          <span>January 26th, 2012</span>
                                          <a href="http://themes.rubenbristian.com/corviuswp/modern-wordpress-business-theme/">Modern WordPress business model Launched</a>
                                          <p>Maecenas luctus eleifend eros, in rutrum dui interdum vitae. Quis enim augue, tincidunt posuere convallis a, vulputate at ...</p>
                                                  <hr />				</li>
                                  
                                                  
                                  <li>
                                          <span>January 17th, 2012</span>
                                          <a href="http://themes.rubenbristian.com/corviuswp/fully-featured-admin-panel/">Fully featured admin panel</a>
                                          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos ...</p>
                                                                                  </li>
                                  
                  </ul></div>			<div id="twitter-widget-2" class="grid_5 prefix_1 twitter"><h2 class="widget-title">Twitter</h2><a class="twitterButton" href="http://twitter.com/#!/envato">follow us</a><p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod aliqua.</p><hr /><ul class="twitterList"><li class="hidden twitterUser">envato</li></ul></div>			<div id="contact-widget-2" class="grid_4 prefix_1 contact_widget"><h2 class="widget-title">Contact</h2><p>Morbi pellentesque felis id arcu lorem sollicitudin.</p><ul class="contactList"><li class="phone">(+00) 1234 56 789</li><li class="email"><a href="mailto:doloremcorvi@corvius.cz">doloremcorvi@corvius.cz</a></li><li class="address">15th Avenue, 15 362, Colorado</li></ul><hr /><div class="jsList"><a href="#">twitter</a>
  <a href="#">vimeo</a>
  <a href="#">facebook</a>
  <a href="#">youtube</a></div></div>
                  </div>

          </div>

          <!-- Display footer bottom area -->
          <div id="footer_bottom" class="gradient">
                  <div class="container_16">
                          <div><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-507" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-507"><a href="#">Privacy Policy</a></li>
  <li id="menu-item-508" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-508"><a href="#">Terms</a></li>
  </ul></div></div>			<p>©2012 Corvius theme. All rights reserved</p>
                  </div>
          </div>

  </div>

