<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Prosafety Cursos {% if page.title %} - {{page.title}}
  {% endif %}</title>
    <meta name="author" content="extendsmymind.com" />
    <meta name="description" content="{{page.description}}" />

    <link rel='stylesheet' id='main-style-css'  href='/css/styles.css' type='text/css' media='all' />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30362117-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <div id="header">
      <div id="top" class="gradient">
        <div class="container_16">
          <!-- Display Logo -->
          <a href="/"><img src="/images/logo.png" alt="ProSafety Cursos" /></a>

          <ul id="menu-menu" class="">
            <li><a href="/">Início</a></li>
            <li>
              <a title="Sobre nós" href="/sobre">Sobre</a>
              <div>
                <ul>
                  <li><a href="/sobre/">Sobre nós</a></li>
                  <li><a href="/sobre/nossa-equipe.html">Nossa equipe</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="/cursos/">Cursos</a>
              <div>
                <ul>
                  <li><a href="/cursos/atmosferas-explosivas.html">Atmosferas Explosivas</a></li>
                  <li><a href="/cursos/iso-9001-2008-auditor-interno.html">ISO 9001:2008 - Auditor Interno</a></li>
                  <li><a href="/cursos/iso-9001-2008-interpretacao-implementacao.html">ISO 9001:2008 - Interpretação e implementação</a></li>
                  <li><a href="/cursos/ergonomia.html">Ergonomia</a></li>
                  <li><a href="/cursos/espacos-confinados.html">Espaços confinados</a></li>
                  <li><a href="/cursos/higiene-ocupacional.html">Higiene Ocupacional</a></li>
                  <li><a href="/cursos/seguranca-em-instalacoes-eletricas-nr-10.html">NR - 10</a></li>
                </ul>
              </div>
            </li>
            <li><a href="/contato.html">Contato</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="content">
      {{content}}
    </div>

    <div id="footer">
      <!-- Display newsletter -->
      <!-- Display footer siderbars -->
      <div id="footer_middle" >
        <div class="container_16">
          <div class="grid_4 prefix_1">
            <h2 class='widget-title'>Nossos cursos</h2>
            <p>Conheça mais sobre os cursos oferecidos pela ProSafety</p>
            <ul class="">
              <li><a href="/cursos/atmosferas-explosivas.html">Atmosferas Explosivas</a></li>
              <li><a href="/cursos/ergonomia.html">Ergonomia</a></li>
              <li><a href="/cursos/espacos-confinados.html">Espaços confinados</a></li>
              <li><a href="/cursos/higiene-ocupacional.html">Higiene Ocupacional</a></li>
              <li><a href="/cursos/iso-9001-2008-auditor-interno.html">ISO 9001:2008 - Auditor Interno</a></li>
              <li><a href="/cursos/iso-9001-2008-interpretacao-implementacao.html">ISO 9001:2008 - Interpretação e implementação</a></li>
              <li><a href="/cursos/seguranca-em-instalacoes-eletricas-nr-10.html">NR - 10</a></li>
            </ul>
          </div>
          <div id="twitter-widget-2" class="grid_4 prefix_1 twitter">
            <h2 class="widget-title">Twitter</h2>
            <a class="twitterButton" href="http://twitter.com/#!/prosafetycursos">siga nos</a>
            <p>Saiba das últimas novidades da ProSafety Cursos pelo nosso twitter.</p>
            <hr />
            <ul class="twitterList">
              <li class="hidden twitterUser">prosafetycursos</li>
            </ul>
          </div>
          <div id="contact-widget-2" class="grid_4 prefix_1 contact_widget">
            <h2 class="widget-title">Contato</h2>
            <p>Entre em contato conosco para maiores informações.</p>
            <ul class="contactList">
              <li class="phone">(21) 3246-08252</li>
              <li class="phone">(21) 8223-5111</li>
              <li class="email"><a href="mailto:prosafety@prosafetycursos.com.br">prosafety@prosafetycursos.com.br</a></li>
              <li class="address">Rua Maestro Felício Toledo, nº 500<br/>Sala 1210 - Centro - Niterói/RJ</li>
            </ul>
            <hr />
            <div class="jsList">
              <a href="http://twitter.com/prosafetycursos">twitter</a>
              <a href="http://http://www.facebook.com/prosafety.cursos">facebook</a>
            </div>
          </div>
        </div>

      </div>

      <!-- Display footer bottom area -->
      <div id="footer_bottom" class="gradient">
        <div class="container_16">
          <p>©2012 ProSafety Cursos. Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
    <script type='text/javascript' src='/js/jquery.js'></script>
    <script type='text/javascript' src='/js/plugins.min.js'></script>
    <script type='text/javascript' src='/js/scripts.min.js'></script>
    <script type="text/javascript">
      jQuery.d280sw = 'aHR0cDovL3RoZW1lcy5ydWJlbmJyaXN0aWFuLmNvbS93cC1jb250ZW50L3RoZW1lcy9jb3J2aXVz';
    </script>
  </body>
</html>

