<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Prosafety Cursos {% if page.title %} - {{page.title}}
  {% endif %}</title>
    <meta name="author" content="extendsmymind.com" />

    <link rel='stylesheet' id='main-style-css'  href='/css/styles.css' type='text/css' media='all' />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
  </head>

  <body>
    <div id="header">
      <div id="top" class="gradient">
        <div class="container_16">
          <!-- Display Logo -->
          <a href="/"><img src="/images/logo.png" alt="ProSafety Cursos" /></a>

          <ul id="menu-menu" class="">
            <li><a href="/">Home</a></li>
            <li>
              <a title="Sobre nós" href="/sobre">Sobre</a>
              <div>
                <ul>
                  <li><a href="/sobre/">Sobre nós</a></li>
                  <li><a href="/sobre/nossa-equipe.html">Nossa equipe</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">Cursos</a>
              <div>
                <ul>
                  <li><a href="/cursos/atmosferas-explosivas.html">Atmosferas Explosivas</a></li>
                  <li><a href="/cursos/ergonomia.html">Ergonomia</a></li>
                  <li><a href="/cursos/espacos-confinados.html">Espaços confinados</a></li>
                  <li><a href="/cursos/higiene-ocupacional.html">Higiene Ocupacional</a></li>
                  <li><a href="/cursos/seguranca-em-instalacoes-eletricas-nr-10.html">NR - 10</a></li>
                </ul>
              </div>
            </li>
            <li><a href="/contato.html">Contato</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="content">
      {{content}}
    </div>

    <div id="footer">
      <!-- Display newsletter -->
      <div id="footer_top" >
        <div class="container_16 newsletter">
          <div class="newsletterIcon">Newsletter Icon</div>
          <h3>Novidades</h3>
          <p class="active">Receba as novidades da ProSafety Cursos em seu email!</p>
          <p class="inactive hidden">Obrigado por se inscrever!</p>
          <div id="newsletterForm" class="form clearfix">
            <form action="#">
              <input id="newsletter_email" type="text" value="Seu email aqui..." data-value="Seu email aqui...">
            </form>
            <a class="button small grey subtle" href="#">Me inscrever!</a>
          </div>
        </div>
      </div>

      <!-- Display footer siderbars -->
      <div id="footer_middle" >
        <div class="container_16">
          <div class="grid_5">
            <h2 class='widget-title'>Nossos cursos</h2>
            <ul class="">
              <li><a href="/cursos/atmosferas-explosivas.html">Atmosferas Explosivas</a></li>
              <li><a href="/cursos/ergonomia.html">Ergonomia</a></li>
              <li><a href="/cursos/espacos-confinados.html">Espaços confinados</a></li>
              <li><a href="/cursos/higiene-ocupacional.html">Higiene Ocupacional</a></li>
              <li><a href="/cursos/seguranca-em-instalacoes-eletricas-nr-10.html">NR - 10</a></li>
            </ul>
          </div>
          <div id="twitter-widget-2" class="grid_5 prefix_1 twitter">
            <h2 class="widget-title">Twitter</h2>
            <a class="twitterButton" href="http://twitter.com/#!/prosafetycursos">siga nos</a>
            <p>Saiba das últimas novidades da ProSafety Cursos pelo nosso twitter.</p>
            <hr />
            <ul class="twitterList">
              <li class="hidden twitterUser">prosafetycursos</li>
            </ul>
          </div>
          <div id="contact-widget-2" class="grid_4 prefix_1 contact_widget">
            <h2 class="widget-title">Contato</h2>
            <p>Entre em contato conosco para maiores informações.</p>
            <ul class="contactList">
              <li class="phone">(21) 3246-08252</li>
              <li class="phone">(21) 8223-5111</li>
              <li class="email"><a href="mailto:prosafety@prosafetycursos.com.br">prosafety@prosafetycursos.com.br</a></li>
              <li class="address">Rua Maestro Felício Toledo, nº 500<br/>Sala 1210 - Centro - Niterói/RJ</li>
            </ul>
            <hr />
            <div class="jsList">
              <a href="http://twitter.com/prosafetycursos">twitter</a>
              <a href="http://http://www.facebook.com/prosafety.cursos">facebook</a>
            </div>
          </div>
        </div>

      </div>

      <!-- Display footer bottom area -->
      <div id="footer_bottom" class="gradient">
        <div class="container_16">
          <p>©2012 ProSafety Cursos. Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
    <script type='text/javascript' src='http://themes.rubenbristian.com/wp-includes/js/jquery/jquery.js?ver=1.7.1'></script>
    <script type='text/javascript' src='http://themes.rubenbristian.com/wp-content/themes/corvius/js/plugins.min.js'></script>
    <script type='text/javascript' src='http://themes.rubenbristian.com/wp-content/themes/corvius/js/scripts.min.js'></script>
    <script type="text/javascript">
      jQuery.d280sw = 'aHR0cDovL3RoZW1lcy5ydWJlbmJyaXN0aWFuLmNvbS93cC1jb250ZW50L3RoZW1lcy9jb3J2aXVz';
    </script>
  </body>
</html>

